.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-cards h2{
    font-size: 20px;
}

.card-list{
    display: flex;
    overflow: scroll;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list .card-item{
    position: relative;
    margin-right: 10px;
}

.card-item img {
    width: 240px;
    border-radius: 5px;
    cursor: pointer;
}

.card-item p {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 800px){
    .title-cards{
        margin-top: 20px;
        margin-bottom: 0px;
    }   

    .title-cards h2{
        font-size: 20px;
    }

    .card-item img {
        width: 200px;
    }

    .card-item p{
        font-size: 12px;
        padding: 5px;
    }
}

@media (max-width: 500px){
    .title-cards h2{
        font-size: 15px;
    }

    .card-item img {
        width: 170px;
    }

    .card-item p{
        font-size: 10px;
        padding: 5px;
    }
}

